streamlit
streamlit_navigation_bar
tensorflow
opencv-python
streamlit
numpy
pillow
streamlit
streamlit_lottie
numpy
scikit-learn
opencv-python
mtcnn
matplotlib
opencv-python-headless==4.5.3.56
streamlit==1.41.1
keras==2.11.0
numpy==1.23.0

